@page "/people"

<div id="datagridview">
    <h1 class="dgv-title">@nameof(Person) マスタ</h1>
    <br/>
    <div class="dgv-nav">
        <AuthorizeView>
            <Authorized>
                <div>
                    <a class="btn btn-success" href="people/create">新規追加</a>
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="form-inline">
            <label class="sr-only" for="filter-name">Filter</label>
            <input type="text" class="form-control mb-2 mr-sm-2" placeholder="検 索" @bind="nameFilter"/>
            <button type="button" class="btn btn-primary mr-sm-2 mb-2" @onclick="Filter">絞り込み</button>
            <button type="button" class="btn btn-danger mr-sm-2 mb-2" @onclick="Clear">クリア</button>
        </div>

        <PaginationTest TotaPagesQuantity="totalPageQuantity" CurrentPage="currentPage" Radius="2" SelectedPage="SelectedPage"></PaginationTest>
    </div>
    <br/>
    <GenericList Elements="people">
        <NullTemplate>
            <div class="loading-bar"/>
        </NullTemplate>
        <WithElementsTemplate>
            <div class="table-scroll-host">
                <table>
                    <thead>
                        <tr>                            
                            <th>Id</th>
                            <th>Name</th>
                            <th>dummy1</th>
                            <th>dummy2</th>
                            @*<th></th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var person in people)
                        {
                            <tr>
                                <td>@person.Id</td>
                                <td>@person.Name</td>
                                <td>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
                                <td>yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</td>
                                @*<td>
                                    <AuthorizeView>
                                        <Authorized>
                                            <a class="btn btn-success" href="people/edit/@person.Id">Edit</a>
                                            <button class="btn btn-danger" @onclick="@(()=>DeletePerson(person.Id))">Delete</button>
                                        </Authorized>
                                    </AuthorizeView>
                                </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @*<button @onclick="ExportAsCSV">Export as CSV</button>*@
        </WithElementsTemplate>
    </GenericList>

    @*<RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="4"
                    AllowSorting="true" Data="@people" TItem="Person" ColumnWidth="200px">
            <Columns>
                <RadzenGridColumn TItem="Person" Property="Id" Title="ID"/>
                <RadzenGridColumn TItem="Person" Property="Name" Title="Name"/>
            </Columns>
        </RadzenGrid>*@
</div>